// In example styles shared between modal, library and sidebar extension points.
// But you can you can use unique style for each extension point — just create new less file and import it in target extension point.
.test-step-view-model-item {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  overflow-wrap: break-word;
}
.test-steps-view-model-item {
  display: flex;
}