html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #050038;
  background-color: #fff;
  font: 14px OpenSans, Arial, Helvetica, sans-serif;
}

.miro-h1 {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}

.miro-h2 {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.miro-h3 {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.miro-h4 {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.miro-p-large {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.miro-p-medium {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.miro-p-small {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.miro-btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  border: 1px solid;
  padding: 14px 24px 16px;
  font-size: 16px;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}

.miro-btn:focus {
  outline: none;
}

.miro-btn.miro-btn--disabled,
.miro-btn[disabled] {
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}

.miro-btn--bold {
  font-weight: bold;
}

.miro-btn--ellipse {
  border-radius: 18px;
}

.miro-btn--medium {
  padding: 14px 24px 16px;
  min-width: 100px;
  font-size: 16px;
  height: 48px;
}

.miro-btn:not(.ng-hide)+.miro-btn--medium:not(.miro-btn--pull-right) {
  margin-left: 16px;
}

.miro-btn--medium .miro-btn__icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.miro-btn--small {
  padding: 9px 16px 11px;
  min-width: 80px;
  font-size: 14px;
  height: 36px;
}

.miro-btn:not(.ng-hide)+.miro-btn--small:not(.miro-btn--pull-right) {
  margin-left: 14px;
}

.miro-btn--small .miro-btn__icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.miro-btn--fluid {
  width: 100%;
}

.miro-btn--icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.miro-btn--primary {
  color: #fff;
  border-color: #4262ff;
  background-color: #4262ff;
}

.miro-btn--primary:not(.miro-btn--disabled):not([disabled]):not(.miro-btn--loading):not(:active):hover {
  border-color: #455bed;
  background-color: #455bed;
}

.miro-btn--primary:not(.miro-btn--disabled):active,
.miro-btn--primary.miro-btn--loading,
.miro-btn--primary:not(.miro-btn--disabled).miro-btn--active {
  border-color: #3d51d4;
  background-color: #3d51d4;
}

.miro-btn--primary.miro-btn--loading::before {
  border-color: transparent #fff #fff #fff;
}

.miro-btn--secondary {
  color: #050038;
  border-color: #f5f5f7;
  background-color: #f5f5f7;
}

.miro-btn--secondary:not(.miro-btn--disabled):not([disabled]):not(.miro-btn--loading):not(:active):hover {
  border-color: #f0f0f3;
  background-color: #f0f0f3;
}

.miro-btn--secondary:not(.miro-btn--disabled):active,
.miro-btn--secondary.miro-btn--loading,
.miro-btn--secondary:not(.miro-btn--disabled).miro-btn--active {
  border-color: #ebebef;
  background-color: #ebebef;
}

.miro-btn--secondary.miro-btn--loading::before {
  border-color: transparent #050038 #050038 #050038;
}

.miro-btn--danger {
  color: #fff;
  border-color: #d92929;
  background-color: #d92929;
}

.miro-btn--danger:not(.miro-btn--disabled):not([disabled]):not(.miro-btn--loading):not(:active):hover {
  border-color: #c71414;
  background-color: #c71414;
}

.miro-btn--danger:not(.miro-btn--disabled):active,
.miro-btn--danger.miro-btn--loading,
.miro-btn--danger:not(.miro-btn--disabled).miro-btn--active {
  border-color: #b80d0d;
  background-color: #b80d0d;
}

.miro-btn--danger.miro-btn--loading::before {
  border-color: transparent #fff #fff #fff;
}

.miro-btn--secondary-bordered {
  color: #050038;
  border-color: #c3c2cf;
  background-color: transparent;
}

.miro-btn--secondary-bordered:not(.miro-btn--disabled):not([disabled]):not(.miro-btn--loading):not(:active):hover {
  background-color: rgba(5, 0, 56, 0.02);
}

.miro-btn--secondary-bordered:not(.miro-btn--disabled):active,
.miro-btn--secondary-bordered.miro-btn--loading,
.miro-btn--secondary-bordered:not(.miro-btn--disabled).miro-btn--active {
  background-color: #f5f5f7;
}

.miro-btn--secondary-bordered.miro-btn--loading::before {
  border-color: transparent #050038 #050038 #050038;
}

.miro-btn--danger-bordered {
  color: #d92929;
  border-color: #e15454;
  background-color: transparent;
}

.miro-btn--danger-bordered:not(.miro-btn--disabled):not([disabled]):not(.miro-btn--loading):not(:active):hover {
  background-color: #fef7f7;
}

.miro-btn--danger-bordered:not(.miro-btn--disabled):active,
.miro-btn--danger-bordered.miro-btn--loading,
.miro-btn--danger-bordered:not(.miro-btn--disabled).miro-btn--active {
  background-color: #fdf2f2;
}

.miro-btn--danger-bordered.miro-btn--loading::before {
  border-color: transparent #d92929 #d92929 #d92929;
}

.miro-btn--white-bordered {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}

.miro-btn--white-bordered:not(.miro-btn--disabled):not([disabled]):not(.miro-btn--loading):not(:active):hover {
  background-color: transparent;
}

.miro-btn--white-bordered:not(.miro-btn--disabled):active,
.miro-btn--white-bordered.miro-btn--loading,
.miro-btn--white-bordered:not(.miro-btn--disabled).miro-btn--active {
  background-color: transparent;
}

.miro-btn--white-bordered.miro-btn--loading::before {
  border-color: transparent #fff #fff #fff;
}

.miro-btn--flat {
  min-width: auto;
  padding-right: 0;
  padding-left: 0;
  border-color: transparent;
  background-color: transparent;
}

.miro-btn--primary-flat {
  min-width: auto;
  padding-right: 0;
  padding-left: 0;
  border-color: transparent;
  background-color: transparent;
  color: #4262ff;
}

.miro-btn--primary-flat:not(.miro-btn--disabled):not([disabled]):not(.miro-btn--loading):not(:active):hover {
  color: #455bed;
}

.miro-btn--primary-flat:not(.miro-btn--disabled):not(.miro-btn--loading):active {
  color: #3d51d4;
}

.miro-btn--primary-flat.miro-btn--loading::before {
  border-color: transparent #4262ff #4262ff #4262ff;
}

.miro-btn--white-flat {
  min-width: auto;
  padding-right: 0;
  padding-left: 0;
  border-color: transparent;
  background-color: transparent;
  color: #fff;
}

.miro-btn--white-flat:not(.miro-btn--disabled):not([disabled]):not(.miro-btn--loading):not(:active):hover {
  color: #fff;
}

.miro-btn--white-flat:not(.miro-btn--disabled):not(.miro-btn--loading):active {
  color: #fff;
}

.miro-btn--white-flat.miro-btn--loading::before {
  border-color: transparent #fff #fff #fff;
}

.miro-btn--secondary-flat {
  min-width: auto;
  padding-right: 0;
  padding-left: 0;
  border-color: transparent;
  background-color: transparent;
  color: #827f9b;
}

.miro-btn--secondary-flat:not(.miro-btn--disabled):not([disabled]):not(.miro-btn--loading):not(:active):hover {
  color: rgba(5, 0, 56, 0.6);
}

.miro-btn--secondary-flat:not(.miro-btn--disabled):not(.miro-btn--loading):active {
  color: #050038;
}

.miro-btn--secondary-flat.miro-btn--loading::before {
  border-color: transparent #827f9b #827f9b #827f9b;
}

.miro-btn--danger-flat {
  min-width: auto;
  padding-right: 0;
  padding-left: 0;
  border-color: transparent;
  background-color: transparent;
  color: #d92929;
}

.miro-btn--danger-flat:not(.miro-btn--disabled):not([disabled]):not(.miro-btn--loading):not(:active):hover {
  color: #c71414;
}

.miro-btn--danger-flat:not(.miro-btn--disabled):not(.miro-btn--loading):active {
  color: #d92929;
}

.miro-btn--danger-flat.miro-btn--loading::before {
  border-color: transparent #d92929 #d92929 #d92929;
}

select.miro-select {
  display: inline-block;
  vertical-align: top;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 4px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNOS43MDcgMTAuMjkzYTEgMSAwIDEgMC0xLjQxNCAxLjQxNEwxMiAxNS40MTRsMy43MDctMy43MDdhMSAxIDAgMCAwLTEuNDE0LTEuNDE0TDEyIDEyLjU4NmwtMi4yOTMtMi4yOTN6Ii8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0 39px 0 15px;
  font-size: 16px;
  height: 48px;
  background-position: right 7px center;
}

select.miro-select.miro-select--primary {
  color: #fff;
  background-color: #4262ff;
  border-color: #4262ff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTkuNzA3IDEwLjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRMMTIgMTUuNDE0bDMuNzA3LTMuNzA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMi41ODZsLTIuMjkzLTIuMjkzeiIvPgo8L3N2Zz4K);
}

select.miro-select.miro-select--primary:not([disabled]):hover {
  border-color: #455bed;
  color: #fff;
  background-color: #455bed;
}

select.miro-select.miro-select--primary:not([readonly]):focus,
select.miro-select.miro-select--primary:not([readonly])[is-active="true"] {
  border-color: #455bed;
  color: #fff;
  background-color: #455bed;
}

select.miro-select.miro-select--secondary {
  color: #050038;
  background-color: #f5f5f7;
  border-color: #f5f5f7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

select.miro-select.miro-select--secondary:not([disabled]):hover {
  border-color: #f0f0f3;
  color: #050038;
  background-color: #f0f0f3;
}

select.miro-select.miro-select--secondary:not([readonly]):focus,
select.miro-select.miro-select--secondary:not([readonly])[is-active="true"] {
  border-color: #f0f0f3;
  color: #050038;
  background-color: #f0f0f3;
}

select.miro-select.miro-select--primary-bordered {
  color: #4262ff;
  background-color: transparent;
  border-color: #4262ff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiM0NTViZWQiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTkuNzA3IDEwLjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRMMTIgMTUuNDE0bDMuNzA3LTMuNzA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMi41ODZsLTIuMjkzLTIuMjkzeiIvPgo8L3N2Zz4K);
}

select.miro-select.miro-select--primary-bordered:not([disabled]):hover {
  border-color: #455bed;
  color: #4262ff;
  background-color: transparent;
}

select.miro-select.miro-select--primary-bordered:not([readonly]):focus,
select.miro-select.miro-select--primary-bordered:not([readonly])[is-active="true"] {
  border-color: #3d51d4;
  color: #4262ff;
  background-color: transparent;
}

select.miro-select.miro-select--secondary-bordered {
  color: #050038;
  background-color: transparent;
  border-color: #c3c2cf;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

select.miro-select.miro-select--secondary-bordered:not([disabled]):hover {
  border-color: #827f9b;
  color: #050038;
  background-color: transparent;
}

select.miro-select.miro-select--secondary-bordered:not([readonly]):focus,
select.miro-select.miro-select--secondary-bordered:not([readonly])[is-active="true"] {
  border-color: #6881ff;
  color: #050038;
  background-color: transparent;
}

select.miro-select[disabled] {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

select.miro-select.miro-select--medium {
  padding: 0 39px 0 15px;
  font-size: 16px;
  height: 48px;
  background-position: right 7px center;
}

select.miro-select.miro-select--medium.miro-select--underlined {
  padding: 0 25px 0 0;
  font-size: 16px;
  height: 48px;
  background-position: right -7px center;
}

select.miro-select.miro-select--small {
  padding: 0 35px 0 13px;
  font-size: 14px;
  height: 36px;
  background-position: right 7px center;
}

select.miro-select.miro-select--small.miro-select--underlined {
  padding: 0 21px 0 0;
  font-size: 14px;
  height: 36px;
  background-position: right -7px center;
}

select.miro-select.miro-select--40px {
  padding: 0 39px 0 15px;
  font-size: 16px;
  height: 40px;
  background-position: right 7px center;
}

select.miro-select.miro-select--underlined {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

select.miro-select.miro-select--invalid {
  border-color: #d92929 !important;
}

select.miro-select.miro-select--success {
  border-color: #7cc576 !important;
}

.status-text {
  margin-top: 8px;
  font-size: 12px;
}

.miro-input {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 4px;
  padding: 11px 16px 13px;
  font-size: 16px;
  height: 48px;
}

.miro-input.miro-input--primary {
  color: #050038;
  background-color: #fff;
  border-color: #c3c2cf;
  outline: none;
}

.miro-input.miro-input--primary::-webkit-input-placeholder {
  color: #827f9b;
}

.miro-input.miro-input--primary::-moz-placeholder {
  color: #827f9b;
}

.miro-input.miro-input--primary:-moz-placeholder {
  color: #827f9b;
}

.miro-input.miro-input--primary:-ms-input-placeholder {
  color: #827f9b;
}

.miro-input.miro-input--primary::-ms-input-placeholder {
  color: #827f9b;
}

.miro-input.miro-input--primary:-ms-input-placeholder {
  color: #827f9b;
  opacity: 1;
  /* Firefox */
}

.miro-input.miro-input--primary::placeholder {
  color: #827f9b;
  opacity: 1;
  /* Firefox */
}

.miro-input.miro-input--primary:not([disabled]):hover {
  border-color: #827f9b;
}

.miro-input.miro-input--primary:not([readonly]):focus {
  border-color: #6881ff;
}

.miro-input[disabled] {
  opacity: 0.4;
  cursor: default;
}

.miro-input.miro-input--medium {
  padding: 11px 16px 13px;
  font-size: 16px;
  height: 48px;
}

.miro-input.miro-input--small {
  padding: 6px 14px 9px;
  font-size: 14px;
  height: 36px;
}

.miro-input.miro-input--invalid {
  border-color: #d92929 !important;
}

.miro-input.miro-input--success {
  border-color: #7cc576 !important;
}

.miro-input.miro-input--fluid {
  width: 100%;
}

.miro-input-group {
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.miro-input-group .miro-input:not(:first-child):not(:last-child),
.miro-input-group .miro-btn:not(:first-child):not(:last-child),
.miro-input-group .miro-select:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.miro-input-group input.miro-input:first-child:not(:last-child),
.miro-input-group select.miro-select:first-child:not(:last-child),
.miro-input-group div.miro-select:first-child:not(:last-child) {
  margin-left: 0;
}

.miro-input-group input.miro-input:first-child:not(:last-child):hover,
.miro-input-group select.miro-select:first-child:not(:last-child):hover,
.miro-input-group div.miro-select:first-child:not(:last-child):hover,
.miro-input-group input.miro-input:first-child:not(:last-child):focus,
.miro-input-group select.miro-select:first-child:not(:last-child):focus,
.miro-input-group div.miro-select:first-child:not(:last-child):focus,
.miro-input-group input.miro-input:first-child:not(:last-child):active,
.miro-input-group select.miro-select:first-child:not(:last-child):active,
.miro-input-group div.miro-select:first-child:not(:last-child):active {
  margin-right: -1px;
}

.miro-input-group input.miro-input:first-child:not(:last-child):hover+input.miro-input,
.miro-input-group select.miro-select:first-child:not(:last-child):hover+input.miro-input,
.miro-input-group div.miro-select:first-child:not(:last-child):hover+input.miro-input,
.miro-input-group input.miro-input:first-child:not(:last-child):focus+input.miro-input,
.miro-input-group select.miro-select:first-child:not(:last-child):focus+input.miro-input,
.miro-input-group div.miro-select:first-child:not(:last-child):focus+input.miro-input,
.miro-input-group input.miro-input:first-child:not(:last-child):active+input.miro-input,
.miro-input-group select.miro-select:first-child:not(:last-child):active+input.miro-input,
.miro-input-group div.miro-select:first-child:not(:last-child):active+input.miro-input,
.miro-input-group input.miro-input:first-child:not(:last-child):hover+select.miro-select,
.miro-input-group select.miro-select:first-child:not(:last-child):hover+select.miro-select,
.miro-input-group div.miro-select:first-child:not(:last-child):hover+select.miro-select,
.miro-input-group input.miro-input:first-child:not(:last-child):focus+select.miro-select,
.miro-input-group select.miro-select:first-child:not(:last-child):focus+select.miro-select,
.miro-input-group div.miro-select:first-child:not(:last-child):focus+select.miro-select,
.miro-input-group input.miro-input:first-child:not(:last-child):active+select.miro-select,
.miro-input-group select.miro-select:first-child:not(:last-child):active+select.miro-select,
.miro-input-group div.miro-select:first-child:not(:last-child):active+select.miro-select,
.miro-input-group input.miro-input:first-child:not(:last-child):hover+.miro-btn,
.miro-input-group select.miro-select:first-child:not(:last-child):hover+.miro-btn,
.miro-input-group div.miro-select:first-child:not(:last-child):hover+.miro-btn,
.miro-input-group input.miro-input:first-child:not(:last-child):focus+.miro-btn,
.miro-input-group select.miro-select:first-child:not(:last-child):focus+.miro-btn,
.miro-input-group div.miro-select:first-child:not(:last-child):focus+.miro-btn,
.miro-input-group input.miro-input:first-child:not(:last-child):active+.miro-btn,
.miro-input-group select.miro-select:first-child:not(:last-child):active+.miro-btn,
.miro-input-group div.miro-select:first-child:not(:last-child):active+.miro-btn {
  margin-left: 0;
  border-left-color: transparent;
}

.miro-input-group input.miro-input:first-child:not(:last-child):hover+div.miro-select,
.miro-input-group select.miro-select:first-child:not(:last-child):hover+div.miro-select,
.miro-input-group div.miro-select:first-child:not(:last-child):hover+div.miro-select,
.miro-input-group input.miro-input:first-child:not(:last-child):focus+div.miro-select,
.miro-input-group select.miro-select:first-child:not(:last-child):focus+div.miro-select,
.miro-input-group div.miro-select:first-child:not(:last-child):focus+div.miro-select,
.miro-input-group input.miro-input:first-child:not(:last-child):active+div.miro-select,
.miro-input-group select.miro-select:first-child:not(:last-child):active+div.miro-select,
.miro-input-group div.miro-select:first-child:not(:last-child):active+div.miro-select {
  margin-left: 0;
}

.miro-input-group input.miro-input:first-child:not(:last-child):hover+div.miro-select .miro-select__button,
.miro-input-group select.miro-select:first-child:not(:last-child):hover+div.miro-select .miro-select__button,
.miro-input-group div.miro-select:first-child:not(:last-child):hover+div.miro-select .miro-select__button,
.miro-input-group input.miro-input:first-child:not(:last-child):focus+div.miro-select .miro-select__button,
.miro-input-group select.miro-select:first-child:not(:last-child):focus+div.miro-select .miro-select__button,
.miro-input-group div.miro-select:first-child:not(:last-child):focus+div.miro-select .miro-select__button,
.miro-input-group input.miro-input:first-child:not(:last-child):active+div.miro-select .miro-select__button,
.miro-input-group select.miro-select:first-child:not(:last-child):active+div.miro-select .miro-select__button,
.miro-input-group div.miro-select:first-child:not(:last-child):active+div.miro-select .miro-select__button {
  border-left-color: transparent;
}

.miro-input-group div.miro-select[is-open="true"]:first-child:not(:last-child) {
  margin-right: -1px;
}

.miro-input-group div.miro-select[is-open="true"]:first-child:not(:last-child)+input.miro-input,
.miro-input-group div.miro-select[is-open="true"]:first-child:not(:last-child)+select.miro-select,
.miro-input-group div.miro-select[is-open="true"]:first-child:not(:last-child)+.miro-btn {
  margin-left: 0;
  border-left-color: transparent;
}

.miro-input-group div.miro-select[is-open="true"]:first-child:not(:last-child)+div.miro-select {
  margin-left: 0;
}

.miro-input-group div.miro-select[is-open="true"]:first-child:not(:last-child)+div.miro-select .miro-select__button {
  border-left-color: transparent;
}

.miro-input-group input.miro-input,
.miro-input-group select.miro-select,
.miro-input-group div.miro-select,
.miro-input-group .miro-btn {
  margin: 0 0 0 -1px;
}

.miro-input-group input.miro-input:first-child:not(:last-child),
.miro-input-group select.miro-select:first-child:not(:last-child),
.miro-input-group div.miro-select:first-child:not(:last-child) .miro-select__button,
.miro-input-group .miro-btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.miro-input-group input.miro-input:last-child:not(:first-child),
.miro-input-group select.miro-select:last-child:not(:first-child),
.miro-input-group div.miro-select:last-child:not(:first-child) .miro-select__button,
.miro-input-group .miro-btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.miro-input-group.miro-input-group--medium .miro-input {
  padding: 11px 16px 13px;
  font-size: 16px;
  height: 48px;
}

.miro-input-group.miro-input-group--medium .miro-btn {
  padding: 14px 24px 16px;
  min-width: 100px;
  font-size: 16px;
  height: 48px;
}

.miro-btn:not(.ng-hide)+.miro-input-group.miro-input-group--medium .miro-btn:not(.miro-btn--pull-right) {
  margin-left: 16px;
}

.miro-input-group.miro-input-group--medium .miro-btn .miro-btn__icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.miro-input-group.miro-input-group--medium select.miro-select {
  padding: 0 39px 0 15px;
  font-size: 16px;
  height: 48px;
  background-position: right 7px center;
}

.miro-input-group.miro-input-group--small .miro-input {
  padding: 6px 14px 9px;
  font-size: 14px;
  height: 36px;
}

.miro-input-group.miro-input-group--small .miro-btn {
  padding: 9px 16px 11px;
  min-width: 80px;
  font-size: 14px;
  height: 36px;
}

.miro-btn:not(.ng-hide)+.miro-input-group.miro-input-group--small .miro-btn:not(.miro-btn--pull-right) {
  margin-left: 14px;
}

.miro-input-group.miro-input-group--small .miro-btn .miro-btn__icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.miro-input-group.miro-input-group--small select.miro-select {
  padding: 0 35px 0 13px;
  font-size: 14px;
  height: 36px;
  background-position: right 7px center;
}

.miro-input-group.miro-input-group--disabled {
  opacity: 0.4;
  pointer-events: none;
}

.miro-input-group.miro-input-group--readonly .miro-btn.miro-btn--primary {
  background-color: #827f9b;
  border-color: #827f9b;
  color: #fff;
}

.miro-input-group.miro-input-group--readonly .miro-btn.miro-btn--primary:not([disabled]):not(.miro-btn--loading):hover {
  background-color: rgba(5, 0, 56, 0.6);
  border-color: rgba(5, 0, 56, 0.6);
}

.miro-input-group.miro-input-group--invalid input.miro-input,
.miro-input-group.miro-input-group--invalid select.miro-select {
  border-color: #d92929 !important;
}

.miro-input-group.miro-input-group--success input.miro-input,
.miro-input-group.miro-input-group--success select.miro-select {
  border-color: #7cc576 !important;
}

.miro-input-group.miro-input-group--fluid {
  width: 100%;
}

.miro-input-group.miro-input-group--fluid input.miro-input,
.miro-input-group.miro-input-group--fluid select.miro-select,
.miro-input-group.miro-input-group--fluid div.miro-select {
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
}

.miro-input-group.miro-input-group--inline {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.miro-input-group.miro-input-group--inline input.miro-input,
.miro-input-group.miro-input-group--inline select.miro-select,
.miro-input-group.miro-input-group--inline div.miro-select {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
}

.miro-input-group.miro-input-group--inline button.miro-btn {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.miro-input-field label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #050038;
}

.miro-input-field.miro-input-field--medium label {
  font-size: 16px;
  margin-bottom: 10px;
}

.miro-input-field.miro-input-field--medium>input.miro-input {
  padding: 11px 16px 13px;
  font-size: 16px;
  height: 48px;
}

.miro-input-field.miro-input-field--medium>select.miro-select {
  padding: 0 39px 0 15px;
  font-size: 16px;
  height: 48px;
  background-position: right 7px center;
}

.miro-input-field.miro-input-field--small label {
  font-size: 14px;
  margin-bottom: 8px;
}

.miro-input-field.miro-input-field--small>input.miro-input {
  padding: 6px 14px 9px;
  font-size: 14px;
  height: 36px;
}

.miro-input-field.miro-input-field--small>select.miro-select {
  padding: 0 35px 0 13px;
  font-size: 14px;
  height: 36px;
  background-position: right 7px center;
}

.miro-input-field.miro-input-field--disabled {
  opacity: 0.4;
  pointer-events: none;
}

.miro-input-field.miro-input-field--invalid>input.miro-input,
.miro-input-field.miro-input-field--invalid>select.miro-select {
  border-color: #d92929 !important;
}

.miro-input-field.miro-input-field--invalid .status-text {
  display: block;
  color: #d92929;
}

.miro-input-field .miro-input--invalid+.status-text,
.miro-input-field .miro-select--invalid+.status-text {
  display: block;
  color: #d92929;
}

.miro-input-field.miro-input-field--success>input.miro-input,
.miro-input-field.miro-input-field--success>select.miro-select {
  border-color: #7cc576 !important;
}

.miro-input-field.miro-input-field--success .status-text {
  display: block;
  color: #7cc576;
}

.miro-input-field .miro-input--success+.status-text,
.miro-input-field .miro-select--success+.status-text {
  display: block;
  color: #7cc576;
}

.miro-radiobutton {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 14px;
  line-height: 20px;
}

.miro-radiobutton input {
  display: none;
}

.miro-radiobutton input:checked+span:before {
  background-color: #4262ff;
  border-color: #4262ff;
}

.miro-radiobutton input:checked+span:after {
  transform: scale(1);
}

.miro-radiobutton input:checked+span:active:before {
  background-color: #3d51d4;
  border-color: #3d51d4;
}

.miro-radiobutton input:checked:disabled+span:before {
  opacity: 0.2;
  border-color: #4262ff;
}

.miro-radiobutton input:disabled+span {
  color: #827f9b;
}

.miro-radiobutton input:disabled+span:before {
  opacity: 0.4;
  border-color: #c3c2cf;
}

.miro-radiobutton span {
  cursor: pointer;
  padding-left: 28px;
}

.miro-radiobutton span:before,
.miro-radiobutton span:after {
  position: absolute;
  content: '';
  border-radius: 100%;
  box-sizing: border-box;
}

.miro-radiobutton span:before {
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #c3c2cf;
  transition: border-color 250ms, background-color 250ms, opacity 250ms;
}

.miro-radiobutton span:after {
  top: 7px;
  left: 5px;
  width: 6px;
  height: 6px;
  background: #fff;
  transform: scale(0);
  transform-origin: center;
  transition: transform 250ms 200ms;
}

.miro-radiobutton span:hover:before {
  border-color: #6881ff;
}

.miro-radiobutton span:active:before {
  border-color: #4262ff;
}

.miro-toggle {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  min-width: 30px;
  height: 16px;
}

.miro-toggle input[type='checkbox']+span::before {
  width: 28px;
  height: 16px;
}

.miro-toggle input[type='checkbox']+span::after {
  width: 12px;
  height: 12px;
}

.miro-toggle input[type='checkbox']:checked+span::after {
  transform: translateX(12px);
}

.miro-toggle span {
  font-size: 14px;
  line-height: 16px;
  padding-left: 52px;
}

.miro-toggle input[type='checkbox'] {
  position: absolute;
  top: 2px;
  left: 1px;
  z-index: -1;
  opacity: 0;
}

.miro-toggle input[type='checkbox']+span {
  position: relative;
}

.miro-toggle input[type='checkbox']+span::before {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  display: block;
  vertical-align: top;
  border-radius: 10px;
  background-color: #c3c2cf;
}

.miro-toggle input[type='checkbox']+span::after {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  display: block;
  margin: 2px;
  border-radius: 50%;
  background: #fff;
}

.miro-toggle input[type='checkbox']:checked+span::before {
  background-color: #4262ff;
}

.miro-toggle span {
  vertical-align: top;
}

.miro-toggle input[type='checkbox']+span::before {
  transition-delay: 0.05s;
  transition: background-color 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.miro-toggle input[type='checkbox']+span::after {
  transition-delay: 0.05s;
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.miro-toggle:not(.miro-toggle--disabled):hover span::before {
  background-color: #bdbdbd;
}

.miro-toggle:not(.miro-toggle--disabled):hover input[type='checkbox']:checked+span::before {
  background-color: #455bed;
}

.miro-toggle.miro-toggle--disabled {
  opacity: 0.2;
}

.miro-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  font-size: 14px;
  min-height: 16px;
}

.miro-checkbox span {
  margin-left: 28px;
}

.miro-checkbox input {
  display: none;
}

.miro-checkbox span:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  border: 1px solid #cdccd7;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  transition: background-color 250ms, border 250ms;
}

.miro-checkbox:hover span:before {
  border-color: #4262ff;
}

.miro-checkbox input:checked+span:before {
  border-color: #4262ff;
  background-color: #4262ff;
}

.miro-checkbox:hover input:checked+span:before {
  background-color: #455bed;
}

.miro-checkbox span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'><path fill='%23fff' d='M8.278 11.222l-.062.062a1 1 0 0 0 .009 1.423L11 15.414l5-5A1 1 0 0 0 14.586 9L11 12.586l-1.293-1.349a1 1 0 0 0-1.43-.015z'></path></svg>");
  background-position: -4px -4px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 250ms 200ms;
}

.miro-checkbox input:checked+span:after {
  transform: scale(1);
}

.miro-checkbox.miro-checkbox--disabled {
  opacity: 0.4;
  cursor: default;
}