
.save-test{
  grid-area: save-test;
}
.given{
  grid-area: given;
}
.when{
  grid-area: when;
}
.then{
  grid-area: then;
}

.test-name-label {
  grid-area: test-name-label;
  padding-top: 8.7px;
}
.sut-label {
  grid-area: sut-label;
  padding-top: 8.7px;
}
.test-context-label {
  grid-area: test-context-label;
  padding-top: 8.7px;

}
.scenario-input {
  grid-area: scenario-input;
}
.test-context-input {
  grid-area: test-context-input;
}
.subject-input {
  grid-area: subject-input;
}
.template-selector {
  grid-area: template-selector;
  width: 100%;
}
.full-width{
  width: 100%;
}
.template-selector-label{
  grid-area: template-selector-label;
  padding-top: 8.7px;
}

.save-button{
  grid-area: save-button;
}


////////////////////////////////////////////////////Step:
.waiting-for-step{
  text-align:center;
  // border-radius: 20px;
  border-style: solid;
}

.step-title{
  &:extend(.miro-h1);
  display: flex; 
  justify-content: center;
  padding: 10px 0px 0px 0px;
}
.step-data{
  padding: 20px;
}
.step-date-property{
  display:grid;
  grid-template-columns:  1fr 1fr;
}
.property-label{
  padding-top: 7.9px;
}
.property-input{
  .input;
  height: 26px !important;
  width: 100%;
}
test-form-details{
  display: grid;
  row-gap: 10px;
  grid-template-columns:  1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
    "subject-input"
    "test-context-input"
    "scenario-input"
    "save-test";
  padding: 10px 0px 4px 0px;
}