// In example styles shared between modal, library and sidebar extension points.
// But you can you can use unique style for each extension point — just create new less file and import it in target extension point.

// .cats-container {
//   max-height: 100%;
//   overflow: auto;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }



//----------------------------------------------------------------



// .scrollable-container {
//     height: 100%;
//     overflow-y: auto;
//     padding-top: 30px;
//     padding-left: 10px;
//     padding-right: 10px;
//     padding-bottom: 20px;
//     box-sizing: border-box;
// }

// .scrollable-content {
//     height: 2000px;
//     background-color: #2a79ff;
// }






// .delete-button {
//     display: inline-block;
//     vertical-align: top;
//     height: 30px;
//     background: none;
//     border: 1px solid #CCC;
//     box-sizing: border-box;
//     border-radius: 4px;
//     margin-left: 8px;
//     cursor: pointer;
// }

// .row-input:hover, .row-input:active,
// .delete-button:hover, .delete-button:active {
//     border: 1px solid #666;
// }

// .row {
//     margin-bottom: 20px;
// }
//---------------------------------------------------------------------
.old-test-recorder{
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas: 
    "given given"
    "when when"
    "then then"
    "test-name-label test-name-input"
    "test-context-label test-context-input"
    "sut-label sut-input"
    "template-selector-label template-selector"
    "save-button save-button";
}
.test-recorder{
  // display: grid;
  // grid-template-columns:  1fr;
  // grid-template-rows: 
  //   auto 
  //   auto 
  //   auto 
  //   auto;
  // grid-template-areas: 
  //   "given"
  //   "when"
  //   "then"
  //   "test-form-details";

}
.test-form-details{
  display: grid;
  row-gap: 10px;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
    "test-name-label test-name-input"
    "test-context-label test-context-input"
    "sut-label sut-input"
    "template-selector-label template-selector"
    "save-button save-button";
  padding: 10px 4px 4px 6px;
}
.given{

  grid-area: given;
}
.when{
  grid-area: when;
}
.then{
  grid-area: then;
}

input:-webkit-input-placeholder {
  color: #827f9b;
}
input:-moz-placeholder {
  color: #827f9b;
}
input:-moz-placeholder {
  color: #827f9b;
}
input:-ms-input-placeholder {
  color: #827f9b;
}
input:-ms-input-placeholder {
  color: #827f9b;
}
input:-ms-input-placeholder {
  color: #827f9b;
  opacity: 1;
  /* Firefox */
}
input:placeholder {
  color: #827f9b;
  opacity: 1;
  /* Firefox */
}
input:not([disabled]):hover {
  border-color: #827f9b;
}
input:not([readonly]):focus {
  border-color: #6881ff;
}
input[disabled] {
  opacity: 0.4;
  cursor: default;
}
input{
  color: #050038;
  background-color: #fff;
  border-color: #c3c2cf;
  outline: none;

  // &:extend(.miro-input all);
  padding: 6px 14px 9px;
  font-size: 14px;
  height: 36px;

  // &:extend(.miro-input--small all);
}
select{
  // &:extend(.miro-select all);
  // &:extend(.miro-select--primary-bordered all);
  // &:extend(.miro-select--small all);
  display: inline-block;
  vertical-align: top;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 4px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNOS43MDcgMTAuMjkzYTEgMSAwIDEgMC0xLjQxNCAxLjQxNEwxMiAxNS40MTRsMy43MDctMy43MDdhMSAxIDAgMCAwLTEuNDE0LTEuNDE0TDEyIDEyLjU4NmwtMi4yOTMtMi4yOTN6Ii8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0 39px 0 15px;
  font-size: 16px;
  height: 48px;
  background-position: right 7px center;
  color: #fff;
  background-color: #4262ff;
  border-color: #4262ff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTkuNzA3IDEwLjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRMMTIgMTUuNDE0bDMuNzA3LTMuNzA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMi41ODZsLTIuMjkzLTIuMjkzeiIvPgo8L3N2Zz4K);
  color: #4262ff;
  background-color: transparent;
  border-color: #4262ff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiM0NTViZWQiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTkuNzA3IDEwLjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRMMTIgMTUuNDE0bDMuNzA3LTMuNzA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMi41ODZsLTIuMjkzLTIuMjkzeiIvPgo8L3N2Zz4K);
  padding: 0 35px 0 13px;
  font-size: 14px;
  height: 36px;
  background-position: right 7px center;
}
select:not([disabled]):hover {
  border-color: #455bed;
  color: #4262ff;
  background-color: transparent;
}
select:not([readonly]):focus,
select:not([readonly])[is-active="true"] {
  border-color: #3d51d4;
  color: #4262ff;
  background-color: transparent;
}

.test-name-label {
  grid-area: test-name-label;
  padding-top: 8.7px;
}
.sut-label {
  grid-area: sut-label;
  padding-top: 8.7px;
}
.test-context-label {
  grid-area: test-context-label;
  padding-top: 8.7px;

}
.test-name-input {
  .input;
  grid-area: test-name-input;
}
.test-context-input {
  .input;
  grid-area: test-context-input;
}
.sut-input {
  .input;
  grid-area: sut-input;
}
.template-selector {
  .input;
  grid-area: template-selector;
}
.template-selector-label{
  grid-area: template-selector-label;
  padding-top: 8.7px;
}

.save-button{
  // &:extend(miro-btn--small);
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  border: 1px solid;
  padding: 14px 24px 16px;
  font-size: 16px;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 1;
  cursor: pointer;
    color: #050038;
    border-color: #f5f5f7;
    background-color: #f5f5f7;
    padding: 9px 16px 11px;
  min-width: 80px;
  font-size: 14px;
  height: 36px;
  grid-area: save-button;
  // display: block;
  //   background-color: #4262FF;
  //   border: none;
  //   color: #FFF;
  //   height: 50px;
  //   box-sizing: border-box;
  //   border-radius: 4px;
  //   text-align: center;
  //   font-size: 22px;
  //   cursor: pointer;
}


.input {
  // display: inline-block;
  // vertical-align: top;
  // border: 1px solid #CCC;
  // border-radius: 4px;
  // padding: 4px 4px 4px 6px;
  // box-sizing: content-box;
}

.step-content{
  // display: grid;
  // grid-template-columns: 302px;
  // grid-template-rows: fr1;
}
.step-title{
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  // &:extend(.miro-h1);
  display: flex; 
  justify-content: center;
  padding: 10px 0px 0px 0px;
  // font-weight: 550;
}
.step-data{
  padding: 20px;
}
.step-date-property{
  // word-wrap: break-word;
  display:grid;
  grid-template-columns:  1fr 1fr;
}
.property-label{
  padding-top: 7.9px;
  font-size: 15px;
  padding: 4px 4px 4px 6px;

  // float: left;
}
.property-input{
  .input;
  height: 15px;
  width: 100%;
  // float: right;
}

h1 {
  font-style: italic;
  color: #090909;
  // color: #373fff;
}

// html,
// body {
//     height: 100%;
//     margin: 0;
//     padding: 0;
button {
  
}
.add-step-button:focus {
  outline: none;
}
.add-step-button[disabled] {
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}
.add-step-button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  border: 1px solid;
  padding: 14px 24px 16px;
  font-size: 16px;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 1;
  cursor: pointer;
    color: #050038;
    border-color: #f5f5f7;
    background-color: #f5f5f7;
    padding: 9px 16px 11px;
  min-width: 80px;
  font-size: 14px;
  height: 36px;
  // &:extend(miro-btn);
  // &:extend(miro-btn--secondary);
  // &:extend(miro-btn--small);
  
  // display: block;
  // background: none;
  // border: 1px solid #090909;
  // color: #090909;
  // height: 30px;
  // box-sizing: border-box;
  // border-radius: 4px;
  // text-align: center;
  // font-size: 14px;
  // cursor: pointer;
  // margin-bottom: 20px;
}

.waiting-for-step{
  text-align:center;
  // border-radius: 20px;
  border-style: solid;
}