
.input-group{
  width: 100%;
  padding-top: 5px;
}

////////////////////////////////////////////////////Step:
.waiting-for-step{
  text-align:center;
  border-style: solid;
}

.step-title{
  display: flex; 
  justify-content: center;
  padding: 10px 0px 0px 0px;
}
.step-data{
  padding: 20px;
}
.step-data-property{
  display:grid;
  grid-template-columns:  1fr 1fr;
}
.property-label{
  padding-top: 7.9px;
}
.property-input{
  height: 26px !important;
  width: 100%;
}
