.waiting-for-step{
  text-align:center;
  border-style: solid;
}

.step-title{
  display: flex; 
  justify-content: center;
  padding: 10px 0px 0px 0px;
}
.step-data-properties{
  display:grid;
  grid-template-columns:  1fr 1fr;
}
.key-value-row{
  padding: 20px;
}
.property-key{
  padding-top: 7.9px;
}
.property-value{
  overflow: hidden;
  height: 26px !important;
  width: 100%;
}
